#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "964258004:AAFtVxDZW6msgnehf5vy7DHhND4YxOlBHpE"
OWNER_ID =667279640
TELEGRAPH_TOKEN = ""
